.paginated_collection {
  position: relative;
}

.index-footer-summary {
  position: absolute;
  bottom:0;
  right:0;
  font-size: 14px;
}

.amount-sum{
  margin: 0 auto;
  color: #000000;
  font-weight: 700;
}

.disabled {
  background-color: #e9ecef !important;
  color: #6c757d !important;
  cursor: not-allowed;
}
