.table-width-120 {
  max-width: 120px;
}

.table-width-150 {
  max-width: 150px;
}

.table-width-180 {
  max-width: 180px;
}

.table-width-200 {
  max-width: 200px;
}

.ts-control > input {
  font-size: 15px;
  margin-left: 4px !important;
}

.ts-control > * {
  font-size: 15px;
  margin-left: 4px !important;
}

.card-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.fs-7 {
  font-size: 0.75rem;
}

.fs-8 {
  font-size: 0.5rem;
}

.hero-section {
  background-color: #fbfbfb;
  background-image: url(Vector-01.svg), url(Vector-02.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: 45%, 70%;
}

.equal-height {
  max-height: 317px;
  overflow-y: auto;
}

.usage-card {
  position: relative;
  overflow: hidden;
}

.icon-background {
  position: absolute;
  top: 75%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 36px;
  opacity: 0.6;
  z-index: 0;
}

.usage-card .card-body {
  position: relative;
  z-index: 1;
  padding-left: 60px;
  padding-right: 10px;
}

.participated-employee-cell {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 992px) {
  .hero-section {
    background-image: url(Vector-01.svg), url(Vector-02.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: 20%, 25%;
  }

  .item-breakdown-card{
    min-height: 317px;
  }

  .participated-employee-cell {
    max-width: 200px;
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
  }
}
