<%= form_with(url: reimbursements_path, method: :get) do |form| %>
  <div class="row">
    <div class="col-8 col-md-7 mb-2 mb-md-0">
      <%= form.select :employee_id, @employee, { selected: params[:employee_id], prompt: "Select an employee" }, { id: 'employee_select', data: { controller: 'select' } } %>
    </div>
    
    <div class="col-4">
      <%= select_month(params.dig(:date, :month)&.to_i || Date.today, { prompt: 'Choose month', field_name: 'month' }, { id: 'month_select', data: { controller: 'select' } }) %>
    </div>

    <div class="col-12 col-md-1">
      <%= form.submit "Submit", class: "btn btn-primary col-12 col-md-auto" %>
    </div>
  </div>
<%end%>
