<div class="container col-12 col-md-8 my-2">
  <h4>Employee Engagement Program - Monitoring and Usage Overview</h4>

  <%= render 'employee_search_form' %>

  <% if params[:employee_id].present? %>
    <%= render 'usage' %>
    <%= render 'item_breakdown' %>    
    <%= render 'filed_reimbursements' %>
  <% end %>
</div>