<div class="container col-12 col-md-9 my-2">
  <div class="row justify-content-between mb-3">
    <div class="col-12 col-md-9"><h4>Employee Engagement Program - Monitoring and Usage Overview</h4></div>
  </div>
  <%= render 'employee_search_form' %>

  <% if params[:employee_id].present? %>
    <%= render 'usage' %>
    <%= render 'item_breakdown' %>    
    <%= render 'filed_reimbursements' %>
  <% end %>
</div>