<div class="container-md-fluid col-12 px-md-4">
  <%= render 'employee_search_form' %>

  <% if params[:employee_id].present? %>
    <div class="col-11 mx-auto">
      <div class="row my-3">
        <h5>Usage</h5>
        <%= render 'usage' %>
        <%= render 'item_breakdown' %>   
      </div>
      <%= render 'filed_reimbursements' %>
    </div>
  <% end %>
</div>