<p style="color: green"><%= notice %></p>

<% content_for :title, "Reimbursements" %>

<h1>Reimbursements</h1>

<div id="reimbursements">
  <% @reimbursements.each do |reimbursement| %>
    <%= render reimbursement %>
    <p>
      <%= link_to "Show this reimbursement", reimbursement %>
    </p>
  <% end %>
</div>

<%= link_to "New reimbursement", new_reimbursement_path %>
